body {
    font-family:
        color: #333;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

section,
header {
    width: 80%;
    max-width: 800px;
    margin: auto;
}

header {
    max-width: 900px;
    color: #fafafa;
}

header h1 {
    margin: 1em 0;
    font-size: 5.25;
    font-weight: bold;
    line-height: 1.2;
}

.background-colour img{
    display: block;
    margin:auto;
    width: 100%;
}

/*---TYPOGRAPHY---*/
h1,
h2 {
    font-family: ;
    font-weight: 400;
}


h1 {
    font-size: 4em;
    margin-bottom: 0.3em
}

h2 {
    font-size: 2.75em;
    margin: 1em 0;
    color: #439ff6;
}

p {
    font-size: 1.25em;
    line-height: 1.5;
    margin-bottom: 1em;
    font-weight: 200;
}

/*---LINKS---*/
a {
    color: #439ff6;
    text-decoration: none;
}

a:hover {
    color: #103254;
    border-bottom: 1px dotted;
}

/*---NAVIGATION---*/
nav {
   width: 100%;
    margin: 0;

    background-color: rgba(255, 255, 255, 0.9);
    padding: 1.5em 0;
    font-size: 1em;
}

nav ul {
    padding-right: 15vw;
    text-align: right;
    text-transform: uppercase;
    letter-spacing: 1px;
}

nav ul li {
    display: inline;
    margin: 20px;
    background: none;
}

nav a:hover {
    transition: all 0.3s ease-in-out;
    border-bottom: none;
    color: #103254
}

.logo {
    font-size: 2.25em;
    font-weight: bold;
    text-align: left;
    text-transform: none;
    padding-right: 30vw;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 60px;
}


/*---IMAGES---*/
img {
    display: block;
    margin: auto;
    max-width: 100%;
}
.rythm img {
    width: 700px;
}

/*---PORTFOLIO SCREEN*/
.portfolio {
    max-width: 800px;
    margin: auto;
    padding: 40px 0;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
